

/* *{
    text-align: center;
}

body{
    background-color: black;
    color:white;
}
h1{
    margin-bottom: 70px;
}

input{
    margin-bottom: 30px;
}

select{
    margin-bottom: 30px;
}
.icon {
	height: 20px;
	width: 20px; */
/* } */
#logo{
    padding-top: 100px;
    
}

#recipes{
    width: 400px
}

#container{
    text-align:center ;
    font-size: 25px;
    background-color: #c7f9cc;
}
#search-label{
    padding-top: 30px;
    /* padding-bottom: 8000%;  */
}

#dropdown-label{

    margin-left: -2px;
    padding-top: 300px; 
}
#diet-options{
    width: 389px; 
}

#button{
    margin-top: 50px;
    cursor: pointer;
}

#random-facts-container{
    background-color: #22577a;
    color: #ccff33;
    height: 50px;
    text-align: center;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
}

#weather {
    display: flex;
    justify-content: space-around;
    margin-right: 550px;
    padding-top: 40px
}

h1{
    margin-left:500px
}

img{
    height: 50px;
	width: 50px; 
}

#food-by-weather{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px 200px;
  grid-template-rows: auto;
  background-color: white;
  padding-top: 60px;
  background-color: #efffcf;
  
}

#recommendImg {
    width: 200px;
    height: auto;
    /* box-shadow: 5px 10px #f78e69 ; */
    box-shadow: 5px 5px 8px #f78e69, 10px 10px 8px #a0ecd0, 15px 15px 8px   #f1bb87;
    font-family: 'Dancing Script', cursive;
    
}

#cap{
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
    color: #03045e;
    
}
#user{
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    color: #d8315b ;
    text-shadow: 5px 5px 10px #141115;
}

#random-recipes{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px 200px;
  grid-template-rows: auto;
 
  padding-top: 60px;
}

#random{
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
    color: #03045e;
}
#user2{
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    color: #d8315b ;
    text-shadow: 5px 5px 10px #141115;
}

#randomRecipeImg {
    width: 200px;
    height: auto;
    /* box-shadow: 5px 10px #f78e69 ; */
    box-shadow: 5px 5px 8px #f78e69, 10px 10px 8px #a0ecd0, 15px 15px 8px   #f1bb87;
    font-family: 'Dancing Script', cursive;
    
}