*{
    text-align: center;
}

body{
    background-color: white;
    color:black;
}
h1{
    margin-bottom: 70px;
}

input{
    margin-bottom: 30px;
}

select{
    margin-bottom: 30px;
}
.icon {
	height: 20px;
	width: 20px;
}